@use 'modules';

/*header section - layout done, design needs to be changed*/  

nav {
  width: 100%;
  height: 100px;
  background-color: modules.$side-background-color;
  box-shadow: 0 0 0.7rem modules.$shadow;
  display: flex;
  position: fixed;
  z-index: 1;
  color: modules.$text-color;

  .pic {
    top: 0;

    img {
      width: 53px;
      position: fixed;
      top: 52px;
      left: 3%;
      transform: translate(-50%, -50%);
    }
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .hamburger {
    &-label {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.75rem;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      cursor: pointer;
    }
  
    &-line {
      width: 1.5rem;
      height: 2px;
      background-color: modules.$text-color;
      display: block;
    }
  
    &-checkbox {
      display: none;
  
      &:checked + .list {
        display: flex;
        margin-top: 50px;
        align-items: flex-end;
      }
    }
  }

  .list {
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    list-style: none;
    display: none;
    flex-direction: column;

    .item {
      text-align: center;
    }
  
    .link {
      color: modules.$text-color;
      padding: 1rem;
      line-height: 1rem;
      text-decoration: none;
      display: block;
  
      &:hover {
        color: modules.$text-color;
        background-color: modules.$text-color;
      }
    }
  } 
}
/*end of header*/

p {
  color: modules.$p-color;
}

main {
  width: 100%;
  height: 100vh;
  color: modules.$text-color;
  background-color: modules.$side-background-color;
  padding-top: 150px;
  display: flex;
  justify-content: center;
}


/*footer section - layout done, design needs to be changed*/
footer {
  width: 100%;
  height: 40px;
  background-color: modules.$side-background-color;
  font-size: 16px;
  box-shadow: 0 0 0.7rem modules.$shadow;
  position: relative;
  bottom: 0;
  display: flex;
  justify-items: center;

  a, p {
    margin: 0 8px;
    color: modules.$text-color;
    text-decoration: none;

    &:visited {
      color: modules.$text-color;
      background-color: transparent;
    }    
  }
}
/*end of footer*/
